body {
    padding-top: 50px;
    background-color: #eee;
}

.chooseHead {
    padding: 40px 15px;
    text-align: center;
    margin: 0 auto;
}

.chooseButtons {
    margin: 70px auto;
}

.btn-cus {
    padding: 25px 40px;
    font-size: 20px;
    line-height: 1.333333;
    border-radius: 10px;
}