{% extends 'base.html' %}

{% include 'navbar.html' %}

{% block content %}
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading media clearfix">
                <div class="media-body">
                    <h1 class="media-heading">{{ t.title }}</h1>

                    <div>
                        <a href="/accounts/profile/{{ user.id }}">{{ user.username }}</a>
                        &nbsp;
                        <span style="color: #9d9d9d;">发表于{{ t.pub_date }}</span>
                        &nbsp;
                        <a href="/nodes/{{ t.node.codename }}"
                           style="color: black; background-color: #ffffff">{{ t.node.name }}</a>
                    </div>

                </div>
                <div class="media-right"><a href="/accounts/profile/{{ user.id }}"><img
                        src="{{ user.gravatar }}" height="60" width="60"/></a></div>
            </div>
            <div class="panel-body">
                {{ t.content }}
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">共有{{ t.reply_set.count }}条回复</div>
            {% for rid, r, avt in rlist %}
                <div class="panel-body">
                    <div style="border-bottom: 1px solid #e5e5e5; padding: 15px 15px; margin: -15px -15px;">
                        <div class="media-left">
                            <a href="/accounts/profile/{{ r.author.id }}">
                                <img src="{{ avt }}" height="48" width="48"/>
                            </a>
                        </div>
                        <div class="media-body">
                            <span><a href="/accounts/profile/{{ r.author.id }}">{{ r.author.username }}</a></span>
                            &nbsp;
                            #{{ rid }}
                            &nbsp;
                            {{ r.pub_date }}
                            <div><p>{{ r.content }}</p></div>

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>


    </div>
    <div class="col-md-9">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="回复"/>
        </form>
    </div>


    <div>

    </div>

{% endblock %}