{% extends 'base.html' %}

{% include 'navbar.html' %}

{% block content %}
    <div class="col-md-9">

        <div class="panel panel-default">
            <div class="panel-heading media clearfix">
                <h1 class="media-heading">{{ user.username }}</h1>
            </div>
            <div class="media-body" style="padding: 5px">
                <div>
                    UserID:{{ user.id }}<br/>
                    Username:{{ user.username }}<br/>
                    {% if user.email %}
                        Email:{{ user.email }}<br/>
                    {% endif %}
                    {% if user.site %}
                        WebSite:{{ user.site }}<br/>
                    {% endif %}
                    {% if user.location %}
                        Location:{{ user.location }}<br/>
                    {% endif %}
                    {% if user.comment %}
                        Location:{{ user.comment }}<br/>
                    {% endif %}
                    {% if editable %}
                        <a href="/accounts/profile/edit">Edit Profile</a>
                    {% endif %}
                </div>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">发表过的主题{{ tcount }}篇</div>
            {% for t in tlist %}
                <div class="panel-body">
                    <div style="border-bottom: 1px solid #e5e5e5; padding: 15px 15px; margin: -15px -15px;">
                        <div class="media-body" style="padding: 5px;">
                            <h4 class="media-heading"><a href="/t/{{ t.id }}" style="color: black">{{ t.title }}</a>
                            </h4>
                            <span><a href="/accounts/profile/{{ t.author.id }}">{{ t.author.username }}</a></span>
                            &nbsp;
                            <span style="color: gray">最后更新于{{ t.upd_date }}</span>
                            &nbsp <a href="/nodes/{{ t.node.codename }}"
                                     style="color: black; background-color: #e5e5e5">{{ t.node.name }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">发表过的回复{{ rcount }}条</div>
            {% for r in rlist %}
                <div class="panel-body">
                    <div style="border-bottom: 1px solid #e5e5e5; padding: 15px 15px; margin: -15px -15px;">
                        <div class="media-body">
                            <span><a href="/accounts/profile/{{ r.author.id }}">{{ r.author.username }}</a></span>
                            &nbsp;
                            {{ r.pub_date }}
                            &nbsp;
                            回复主题 <span><a href="/t/{{ r.reply_to.id }}">{{ r.reply_to.title }}</a></span>

                            <div><p>{{ r.content }}</p></div>

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
    <div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-body" style="padding: 50px">
                <img src="{{ user.gravatar }}"/>
            </div>
        </div>
    </div>



{% endblock %}
